body {
    margin:0;
}

.header {
    height: 20px;
}

.mainbody {
    position: absolute;
    top: 20px;
    bottom: 20px;
    /* left: 1%;
    right: 1%; */
    width:100%;
    text-align: center;
    line-height: 20px;
}

.footer {
    height: 20px;
    position: absolute;
    bottom: 0;
    width:100%;
}